<div class="container">
    <div class="content">
          <img src="../../assets/Group16662.svg" alt="checkmark"/>
          <div class="text-container">
            <p class="bold-message">Visit booking request submitted successfully!!</p>
              <span>You will be notified once admin accepts your request</span>
          </div>
        <div class="actions-button">
            <button mat-button class="home-button" (click)="onRedirectHome()">
                Return Home
            </button>
          <button mat-button class="status-button" (click)="onCheckStatus()">
              Check Status
            </button>
        </div>
    </div>
  </div>